<!DOCTYPE html>
<html>
  <head>
    <title>TextToSpeech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag 'text_to_speech', "data-turbo-track": "reload" %>
  </body>
</html>
